<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062978551347-95ofuf2v47kmf33m1g4bctkjpqh35k65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062978551347-95ofuf2v47kmf33m1g4bctkjpqh35k65</string>
	<key>API_KEY</key>
	<string>AIzaSyATqQ9s-prBVjxi5LUbzUc4lDPn_wprZio</string>
	<key>GCM_SENDER_ID</key>
	<string>1062978551347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shop.mtcoding.riverpodFirestoreStream</string>
	<key>PROJECT_ID</key>
	<string>riverpod-firestore-strea-e6009</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-firestore-strea-e6009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062978551347:ios:e27a2e25971261a1aeed46</string>
</dict>
</plist>